/* teammain.css */
.team-container {
    display: flex; /* Flexbox 사용 */
    flex-wrap: wrap; /* 줄바꿈 허용 */
    justify-content: space-between; /* 공간을 균등하게 분배 */
    margin: 20px;
}

.team-card {
    flex: 0 1 calc(33.33% - 20px); /* 3팀씩 배치하고 마진 고려 */
    margin-bottom: 20px; /* 아래쪽 여백 */
    padding: 10px;
    border: 1px solid #ccc; /* 테두리 추가 */
    border-radius: 5px; /* 모서리 둥글게 */
    background-color: #fff; /* 배경 색상 */
    text-align: center; /* 내용 가운데 정렬 */
    margin-top: 40px; /* 카드 상단 간격 */
}

.team-card img {
    max-width: 100%; /* 로고 이미지의 최대 너비 */
    height: auto; /* 비율 유지 */
}

h1 {
    margin-top: 40px; /* 상단과의 간격 */
    text-align: center; /* 중앙 정렬 */
    font-family: 'Gowun Dodum', sans-serif; /* 폰트 설정 */
    font-size: 36px; /* 글씨 크기 */
    color: #333; /* 글씨 색상 */
}

/* 팀명에 대한 스타일 */
.team-card p {
    font-family: 'Gowun Dodum', sans-serif; /* 팀명 폰트 */
    font-size: 28px; /* 팀명 글씨 크기 */
    color: #555; /* 팀명 글씨 색상 */
    margin-top: 10px; /* 팀명과 로고 간격 */
}

/* 링크에 밑줄 제거 */
.team-card a {
    text-decoration: none; /* 링크 밑줄 제거 */
    color: inherit; /* 링크의 색상을 상속받아 기본 텍스트 색상 유지 */
}