/* 공통 */

.content-section {
    margin: 20px auto;
    padding: 50px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 22px;
    margin-bottom: 5px;
    display: block;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 15px;
}

button {
    background-color: #878686;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #333;
}

/* -----------목록---------------- */

.search-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

#search-input {
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#search-button, #create-button {
    padding: 10px 22px;
    background-color: #6e6e6e;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

#search-button {
    margin-right: 150px;
}

#search-button:hover, #create-button:hover {
    background-color: #333;
}

table {
    width: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #d3d6d8;
}

tr:hover td{
    background-color: #ebeef1;
}

#free-list a {
    color: #4a4a4a;
    font-weight: bold;
    text-decoration: none;
}

/* -----------등록---------------- */

#image_preview {
    display: block;
    max-width: 250px;
    margin-bottom: 30px;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    padding: 10px;
}

input[type="file"] {
    margin-bottom: 10px;
}

#submit-button {
    background-color: #6e6e6e;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

#submit-button:hover {
    background-color: #333;
}

/* -----------상세---------------- */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

#free-title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.author-section {
    display: flex;
    align-items: center;
    font-size: 20px;
}

#free-profile-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #5a5a5a;
}

.detail-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookmark-section {
    margin-left: auto;
}

.bookmark-section i {
    color: #ccc;
    font-size: 50px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.bookmark-section button {
    background-color: transparent; /* 배경색 없음 */
    border: none;
    cursor: pointer;
}

.bookmark-section i:hover {
    transform: scale(1.2);
    color: #ffcc00;
}

.bookmark-section i.active {
    color: #ffcc00;
}

.meta-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.meta-info .left-info i {
    margin-right: 10px;
    font-size: 27px;
    color: #494949;
}

.meta-info .left-info span {
    font-size: 25px;
    margin-right: 20px;
}

.meta-info .right-info p {
    margin: 0;
    font-size: 14px;
}


.comment-item {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
