.content-section {
    margin: 20px auto;
    padding: 50px;
    border: 1px solid black;
    background-color: white;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

.button-group {
    display: flex;
    gap: 30px;
}

.button-group button {
    background-color: #666;
    color: white;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 15px;
}

.button-group button:hover {
    background-color: #333;
}

.profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.profile-section img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #505050;
    margin-right: 10px;
}

.profile-section div {
    display: flex;
    align-items: center;
    flex-grow: 1; /* 프로필과 닉네임 부분이 오른쪽으로 밀리지 않게 확장 */
}

.profile-section p {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    color: #454545;
    cursor: pointer;
    transition: font-size 0.3s ease; /* 애니메이션 추가 */
}

/* 마우스 올렸을 때 글씨 크기 커지도록 설정 */
.profile-section p:hover {
    font-size: 30px !important; /* 강제로 적용 */
}

/* 북마크 아이콘 */
.bookmark-icon {
    margin-right: 10px;
    font-size: 50px;
    color: #aaa9a9;
    cursor: pointer;
}

.bookmark-icon:hover {
    transform: scale(1.4);
    color: #f5b800;
    transition: transform 0.3s ease, color 0.3s ease;
}

.bookmark-icon.active {
    color: #f5b800;
}

#bookmark-text {
    font-size: 22px;
    color: #666;
}

#bookmark-text.active {
    color: #e87d30;
}

.main-content {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.live-img {
    max-width: 50%;
    max-height: 400px;
    border: 1px solid #555555;
    object-fit: contain;
}

.game-info {
    flex: 1;
    color: #333;
}

.game-info p {
    margin-bottom: 10px;
    font-size: 1rem;
}

.action-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.creation-date {
    font-size: 0.9rem;
    color: #999;
}

#comments-list {
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.comment-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

#comment-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#comment-content {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
    resize: none;
}

#comment-form button {
    padding: 10px 15px;
    font-size: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
}

#comment-form button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 600px) {
    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .button-group {
        flex-direction: column;
    }
}

.icon {
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #666;
}

.icon i {
    font-size: 44px;
}

.heart:hover {
    transform: scale(1.5);
    color: #ef5656;
    transition: transform 0.3s ease, color 0.3s ease;
}

.heart.active {
    color: #ef5656;
}

.heart {
    color: #666;
}

#like-text {
    font-size: 18px;
    color: #666;
}

#like-text.active {
    color: red;
}